<footer class="site-footer h-card">
  <div class="wrapper">
    <p>Ce site regroupe des liens sur le Green IT et l'écoconception de services numériques. <br/>
      Maintenu par <a href="https://raphael-lemaire.com/" title="Site personnel de Raphaël Lemaire">Raphaël Lemaire</a>.<br />
      Les sources de ce projet sont également <a href="https://github.com/rlemaire/bookmarks-green-it"
                                                 title="Référentiel Github source de ce site">disponibles sur Github</a>.
    </p>
  </div>
</footer>
