---
# Only the main Sass file needs front matter (the dashes are enough)
---

$bleu:               #568DC8;
$vert-fonce:         #537602;
$vert-clair:         #C3DE02;
$main-text-color:    #333;
$gris-fonce: #666;
$hightlight-color:   #EEF;


body {
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 18px;
  line-height: 1.5;
  color: $main-text-color;
  background-color: white;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main.page-content {
  padding: 0 1rem 0 1rem;
}

a {
  color: $bleu;
  text-decoration: underline;
}

a:visited {
  color: $gris-fonce;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 45rem;
  margin: auto;
  overflow: hidden;
}


h1, h2, h3, h4, h5, .post-title {
  font-weight: bold;
  font-family: "Georgia", serif;
  letter-spacing: .05rem;
  color: $vert-fonce;
}

h1, .post-content h1 {
  font-size: 150%;
  font-weight: bold;
}

h2, .post-content h2 {
  font-size: 140%;
}

h3, .post-content h3 {
  font-size: 120%;
  font-weight: bold;
}

ul {
  padding-left: 1rem;
  list-style-type: circle;
}

.site-header {
  background-color:  $bleu;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.site-header a, .site-header span {
  color: white;
  font-size: larger;
}

.site-footer {
  border: 0;
  padding: 1rem 1rem .2rem 1rem;
  font-size: smaller;
  font-style: italic;
  color: $gris-fonce;
  margin-top: auto;
}

.back-home:before {
  content: "< ";
}




@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #EEE;
  }

  a {
    color: #4BB5FC;
  }

  a:visited {
    color: #419CC1;
  }

  h1, h2, h3, h4, h5, .post-content h3 {
    color: #92D073;
  }

  .site-header, .site-footer, .side > div, .hr {
    border-color: #92D073;
  }

  .site-footer {
    color: #CCC;
  }

  .site-header a, .site-header span {
    color: white;
  }
}

