@media print {
    body {
        font-family: "Century Gothic", sans-serif;
        padding: 2em;
        font-size: 12px;
        line-height: 1rem;
        color: black;
    }

    h1, h2, h3, h4, h5, a, a:visited {
        color: black;
    }

    .site-header, .site-footer {
        display: none;
    }

    .wrapper {
        max-width: 100%;
    }
}